@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles below */

@layer base {
  body {
    @apply font-body text-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold text-primary;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply font-body text-base leading-relaxed;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}

@layer components {
  .nav-container {
    @apply flex items-center justify-between w-full px-2 py-1 min-h-[7rem];
  }

  .nav-logo {
    @apply w-11 h-auto flex-shrink-0; /* Prevent logo from shrinking */
  }

  .nav-menu {
    @apply flex items-center gap-1 flex-grow justify-center mx-2;
  }

  .nav-link {
    @apply text-base font-medium px-1 py-1 whitespace-nowrap;
  }

  .profile-button {
    @apply w-11 h-11 flex-shrink-0; /* Prevent button from shrinking */
  }
}
